body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
  font-family: Arial, sans-serif;
}

#heading {
  position: absolute;
  z-index: 1;
  width: 100%;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  margin: 0;
  padding: 0;
}

#heading h1 {
  margin: 0;
  padding: 6px 0;
  background-color: #64a36d;
  font-size: 16px;
}

#heading a {
  color: #4488ff;
}
